<h1>Base Styles</h1>

<h2>Typography</h2>
insert

<h2>Tables</h2>
insert

<h2>Forms</h2>
insert

<h2>Mas Article</h2>
insert

<h2>Buttons</h2>

<%= styleguide_block '1.1' do -%>
    <button class="$modifier_class">Example Button</button>
<% end -%>

<%= styleguide_block '1.2' do -%>
    <a class="btn $modifier_class">Example Button</button>
<% end -%>

<h2>Icons</h2>
insert

<h2>Colours</h2>
insert
