<section class="articleNav">
  <h2>Choose a category</h2>
  <ul>
    <li><a href="#heading-1">heading title</a></li>
    <li><a href="#heading-2">heading title</a></li>
    <li><a href="#heading-3">heading title</a></li>
    <li><a href="#heading-4">heading title</a></li>
    <li><a href="#heading-5">heading title</a></li>
    <li><a href="#heading-6">heading title</a></li>
  </ul>
</section>