<h1>Homepage</h1>

<h2>Style Guide Test Pages</h2>
<ul>
  <li><a href="/styleguide/tests/barebones">Barebones</a> - basic markup, typographic styles and forms</li>
  <li><a href="/styleguide/tests/normalize">Normalize</a> - test page for html elements</li>
  <li><a href="/styleguide/tests/mas">MAS article</a></li>
</ul>

<h2>Example Markup</h2>
<ul>
  <li><a href="/forms">Forms</a></li>
</ul>