<h1>Buttons</h1>

<p>This is some blurb about forms.</p>

<%= styleguide_block '1.1' do -%>
    <%= render 'index/button', button_text: 'Example Button Bar' %>
<% end -%>

<%= styleguide_block '1.2' do -%>
    <a class="btn $modifier_class">Example Button</button>
<% end -%>