<h1>Forms</h1>

<p>This is some blurb about forms</p>

<%= styleguide_block '2.1' do -%>
    <dl class="form">
      <dt><label>Text Fields</label></dt>
      <dd><input type="text" class="textfield $modifier_class"></dd>
    </dl>
<% end -%>


<p>This is a hard coded example</p>
<pre><code data-language="html">
  <form>
    <legend>myLegend</legend>

    <p>
      <label for="myId">myLabel</label>
      <input id="myId" type="text"/>
    </p>

    <button>submit</button>
  </form>

</code></pre>