// A button
//
// .primary          - Dims the button to indicate it cannot be used.
// .primary:hover          - Dims the button to indicate it cannot be used.
// .secondary          - Dims the button to indicate it cannot be used.
//
// Styleguide 1.1

.button {

  border:none;
  background:#ddd;
  padding:4px 10px;

  &.primary {
    background:blue;
  }
  &.primary:hover {
    background:blue;
  }
  &.primary:active {
    background:red;
  }
  &.primary {
    background:yellow;
  }
}