// Typography
//
// Styleguide 1.0

body {
  color:$text-default;
}


// Headings
//
// Styleguide 1.0
h1, h3 {
  color:$heading-primary-light;
}

h2 {
  color:$heading-primary-dark;
}



p.intro {
  color:$text-light;
}


a {
  color:$link-default;
}
a:visited {
  color:$link-default-visited;
}